#scrapedArticles {
    margin: 5px;
    color: white;
    display: inline-block;
}

#backButton, #savedButton {
    color: white;
}

.jumbotron {
    background: white;
    padding: 10px;
    margin-top: 70px;
    border-radius: 5px;
}

.saveArticle {
    display: inline-block;
    height: 38px;
}


.card {
    margin: 30px;
}
